# Lesson 8 Hands-On created by the one and only Hazem using online jupyter
## This is my first Jupyter Python Notebook

### The below cell installs pandas and imports it as pd

In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

### The below cell creates bisons panda object by reading a csv file

In [2]:
bisons = pd.read_csv('BisonTracking.csv')

### The below cell displays the first 7 lines using the head func from pd package

In [3]:
bisons.head(7)

  Collection/Population Locality SpecimenNumber  Genus   Species  Length
0                  12 Mile Creek         112916  Bison  antiquus       8
1                  12 Mile Creek         112917  Bison  antiquus       7
2                  12 Mile Creek         112918  Bison  antiquus       7
3                  12 Mile Creek         112919  Bison  antiquus       8
4                  12 Mile Creek         112921  Bison  antiquus       9
5                  12 Mile Creek         112925  Bison  antiquus       9
6        Agate Basin-Agate Basin            458  Bison  antiquus       7

### The below cell displays the last 10 lines using the head func from pd package

In [4]:
bisons.tail(10)

,Collection/Population Locality,SpecimenNumber,Genus,Species,Length
1097,Simonsen,"SEC. 8, 30"", E2, #bb",Bison,antiquus,8
1098,Simonsen,SW15 #3,Bison,antiquus,8
1099,Simonsen,SW15 #3,Bison,antiquus,7
1100,Simonsen,SW37 #9,Bison,antiquus,9
1101,Simonsen,SW37 #9,Bison,antiquus,8
1102,Terapa,TERA 403,Bison,antiquus,7
1103,Terapa,TERA 404,Bison,antiquus,8
1104,Terapa,TERA 426,Bison,antiquus,9
1105,WICA,422F7A5179,Bison,bison,7
1106,WICA,AVID*074*597*636,Bison,bison,7

### The below cell prints the number of rows and columns the object has which was imported/read from the csv file

In [5]:
print('Number of rows is:', str(len(bisons)), 'and number of columns is:', str(len(bisons.columns)))

Number of rows is: 1107 and number of columns is: 5

### The cell below is my favorite because I spent extra time on it to make it almost perfect and the results show!


1. **First**

    For `antiq = str(bisons.Species.value_counts()).split()`: the Species column gets a *`value_count()`*, then it is converted to a string using *`str()`*, then it is split using *`split()`* which creates an array that is then assigned to the variable **antiq**


2. **Second**

    The **antiq** variable was enumerated using *`enumerate()`* and each index was assigned to **i** for each value **v** in a for loop
    

3. **Third**

    For each iteration, an *if* condition was set to compare the value of *v* with the search term *antiquus*


4. **Finaly**

    When the *if* condition was met, the **antiq** variable was substituted for a single value that comes immediately after the word *antiq* (hence the index i+1), which would be the value for *antiquus* 

### Then the result was printed

In [6]:
antiq = str(bisons.Species.value_counts()).split()
for i, v in enumerate(antiq):
    if v.lower() == 'antiquus':
        antiq = antiq[i+1]
print('How many bison are of the species antiquus?\nAnswer is:', antiq)

How many bison are of the species antiquus?
Answer is: 633

### A `mean()` and `std()` functions were called on `bisons.Length` to return the mean and standard deviation for the length

In [7]:
print('What is the mean and standard deviation of Length?\nThe mean is:', bisons.Length.mean(), ', And the standard deviation is:', bisons.Length.std())

What is the mean and standard deviation of Length?
The mean is: 7.981029810298103 , And the standard deviation is: 0.8082987436374482

### And last but not least, the `median()` function was called on `bisons.Length` to return the median length for bisons

In [8]:
print('What is the median length of the bison?\nAnswer is:', bisons.Length.median())

What is the median length of the bison?
Answer is: 8.0

# This notebook can also be viewed on [Google Colab](https://colab.research.google.com "Google Colab Page")